.container {
  width : 348px;
  height : 374px;
  border : 1px solid rgb(219,219,219);
  padding : 10px 0;
  box-sizing : border-box;
 }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-input {
  margin-bottom : 6px;
  margin-right : 40px;
  margin-left : 40px;
  width : 268px;
  height : 38px;
  font-size : 14px;
  border-radius : 3px;
  border : 1px solid rgb(219,219,219);
  padding : 2px 8px;
  background-color : rgb(250,250,250);
}
.form-wrap {
  margin-top : 24px;
  width : 348px;
  height : 213px;
  box-sizing: border-box;
}

.logo-text{
  font-family: 'Lobster', cursive;
  font-size : 48px;
  margin-top : 36px;
  margin-bottom : 12px;
}

.login-button {
  margin-top : 8px;
  width : 268px;
  height : 30px;
  font-size : 14px;
  background-color: rgba(0,149,246,0.3);
  color : rgb(255,255,255);
  border : 1px solid rgba(0,0,0,0);
  border-radius: 4px;
}

.find-password {
  color: rgb(0,55,107);
  font-size : 12px;
  padding-top : 90px;
  margin-bottom : 20px;
}