@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  border: 1px solid gray;
  position: relative;
  margin-top: 50px;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 64px;
  margin-top: 40px;
  margin-bottom: 60px;
}

input {
  display: block;
  background-color: rgb(250, 250, 250);
  width: 25vw;
  height: 4vh;
  margin-bottom: 15px;
  padding-left: 15px;
  border-color: transparent;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  width: 25vw;
  height: 4vh;
  background-color: rgb(96, 181, 255);
  border-color: transparent;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  background-color: rgb(196, 225, 251);
}

.errorMessage {
  color: blue;
  font-size: 12px;
  margin-bottom: 90px;
}

.forget {
  position: absolute;
  bottom: 20px;
  color: blue;
}
